<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label">product Name</label>
                    <input type="text" class="form-control" name="productName" [(ngModel)]="productName">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label">description</label>
                    <textarea name="description" id="" cols="30" rows="10" class="form-control" [(ngModel)]="description"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label">price</label>
                    <input type="text" class="form-control" name="price" [(ngModel)]="price">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label">company Name</label>
                    <input type="text" name="companyName"class="form-control" [(ngModel)]="companyName">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-dark" (click)="readValue()">submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
